.button2 {
  padding: 0.3em 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #58a linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  font-size: 125%;
  line-height: 1.5;
}
.button2.cancel {
  background-color: #c00;
}
.button2.ok {
  background-color: #6b0;
}
.button2:active {
  outline: none;
  border: none;
}

.button1 {
  padding: 6px 16px;
  border: 1px solid #446d88;
  border-radius: 4px;
  background: #58a linear-gradient(#77a0bb, #58a);
  box-shadow: 0 1px 5px gray;
  color: white;
  text-shadow: 0 -1px 1px #335116;
  font-size: 20px;
  line-height: 30px;
}
