body{
    margin: 0;
    padding: 0;
    text-align: center;
}
/* 导航栏 start */
.NavigationPicture{
    height: 78px;
    width: 324px;
    margin: 0 0 0 50px;
    float: left;
}
.aa 
{
    background-color:#ffe4b5;
    border-radius: 10px;
    width: 140px;
    margin: 5px;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    text-decoration: none;
    color: black;

}
.frameone{
    background-color:#ffffff;
    width: 140px;
    margin: 5px;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
}
.menu 
{
    position: relative;
    display: inline-block;
}
.menu-content 
{
    display: none;
    background-color: #ffffff;
    height: 170px;
    width: 100px;
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 10;
}
.menu-content span
{
    color: black;
    display: block;
}
.menu-content span:hover 
{
    background-color: #ffffff;
}
.menu:hover .menu-content 
{
    display: block;
}
.menu:hover .frame 
{
    background-color:#ffcf7b;
}
/* 导航栏 end */
/* 轮播图 start */
.container{
    margin: 0 auto;
    display: flex;
    position: relative;
    background: #eee;
}
.container .img-list{
    display: flex;
    flex-flow: row;
    overflow: hidden;
}
.btn{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
}
.btn:hover{
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.btn-left{
    left: 0;
}
.btn-right{
    right: 0;
}
.dots-list{
    position: absolute;
    right: 20px;
    bottom: 0;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 2px #000 inset; 
    background: rgba(200, 200, 200, 0.2);
}
.dot-active{
    background: rgba(252, 252, 252, 0.9);
}
.dots .dot:hover{
    cursor: pointer;
} 
.pictureoneone{
    width: 100%;
    height: 200px;
}
/* 轮播图 end */
/* 底部 start */
.divdiv{
    background-color: rgb(0,0,0);
}
.divone{
    float: left;
    width: 26%;
    margin: 20px 45px;
}
/* 底部 end */
/* 版权 start */
.FootFontOne{
    font-size: 12px;
}
.FootFontTwo{
    font-size: 12px;
}
.FootFont{
    margin: 10px 0 0 0;
}
.black{
    background-color: rgb(0,0,0);
    height: 1px;
}
.AAA{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.div{
    height: 150px;
    width: 100%;
}
/* 版权 end */
