body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* 登录 start */
.LandFrame {
    margin: 100px auto;
    background-color: #1235;
    border-radius: 3px;
    width: 500px;
    height: 300px;
    top: 100px;
    right: 150px;
    border-radius: 5px;
    text-align: center;
}

.LandFontOne {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.LandFontTwo {
    margin: 20px 30px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.LandFontThree {
    font-size: 13px;
}

.LandSmallFrame {
    margin: 5px 0 10px 20px;
}

.LandTextTwo {
    margin: 0 0 0 38px;
    height: 20px;
    width: 250px;
}

.LandTextThree {
    margin: 0 0 0 24px;
    height: 20px;
    width: 250px;
}

.LandTextFour {
    margin: 0 0 0 10px;
    height: 20px;
    width: 250px;
}

.LandTextFive {
    margin: 0;
    height: 20px;
    width: 250px;
}

.LandButton {
    width: 200px;
    height: 25px;
    margin: 5px 0 5px 0;
    background-color: rgb(224, 105, 35);
    border: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

#tipsone,
#tipstwo {
    font-size: 12px;
    margin: 0 0 0 70px;
    color: rgb(233, 59, 59);
    display: none;
}

.LandAOne {
    font-size: 14px;
    margin: 0 0 0 90px;
    color: rgb(224, 105, 35);
    cursor: pointer;
}

.LandATwo {
    font-size: 14px;
    margin: 0 0 0 50px;
    cursor: pointer;
}

.two {
    text-decoration: none;
}

.hhh {
    color: rgb(233, 59, 59);
}

/* 登录 end */